body{
	padding: 3em 10em;
}

img#bg{
	position: absolute;
}

img.girl{
	position: absolute;
	top: 697px;
	left: 1422px;
	
-webkit-transform: rotateY(0deg);
-webkit-transition : transform 1.5s;

-moz-transform: rotateY(0deg);
-moz-transition : transform 1.5s;

-o-transform: rotateY(0deg);
-o-transition : transform 1.5s;

transform: rotateY(0deg);
transition : transform 1.5s;


}

img.rotated{

-webkit-transform: rotateY(150deg);
-webkit-transition : transform 1.5s;

-moz-transform: rotateY(150deg);
-moz-transition : transform 1.5s;

-o-transform: rotateY(150deg);
-o-transition : transform 1.5s;

transform: rotateY(150deg);
transition : transform 1.5s;

}


img.kite{

  position: absolute;
  top: -31px;
  left: 163px;
  
  -webkit-transform-origin: 27.73% 18.6%;
-webkit-animation: kitefly 5s infinite;
-webkit-animation-timing-function: linear;

-moz-transform-origin: 27.73% 18.6%;
-moz-animation: kitefly 5s infinite;
-moz-animation-timing-function: linear;

-o-transform-origin: 27.73% 18.6%;
-o-animation: kitefly 5s infinite;
-o-animation-timing-function: linear;

transform-origin: 27.73% 18.6%;
animation: kitefly 5s infinite;
animation-timing-function: linear;

}

div.kite{
	position: absolute;
	 top: 394px;
  left: 1233px;
  
  -webkit-transform-origin: 0% 100%;
-webkit-transform: rotate(30deg) scale(1.2, 1.2);
-webkit-animation: cordfly 5s infinite;


-moz-transform-origin: 0% 100%;
-moz-transform: rotate(30deg) scale(1.2, 1.2);
-moz-animation: cordfly 5s infinite;


-o-transform-origin: 0% 100%;
-o-transform: rotate(30deg) scale(1.2, 1.2);
-o-animation: cordfly 5s infinite;

transform-origin: 0% 100%;
transform: rotate(30deg) scale(1.2, 1.2);
animation: cordfly 5s infinite;

}



@-webkit-keyframes cordfly {
   0% { -webkit-transform: rotate(30deg) scale(1.2, 1.2)}
  25% { -webkit-transform: rotate(15deg) scale(0.7, 0.8)}
  50% { -webkit-transform: rotate(5deg) scale(1.2, 1.2)}
  75% { -webkit-transform: rotate(-30deg) scale(0.9, 0.9)}

}


@-webkit-keyframes kitefly {
   0% { -webkit-transform: rotate(0deg)}
  22% { -webkit-transform: rotate(-40deg)}
  25% { -webkit-transform: rotate(-40deg)}
  30% { -webkit-transform: rotate(60deg)}
  50% { -webkit-transform: rotate(90deg)}
  55% { -webkit-transform: rotate(0deg)}
  75% { -webkit-transform: rotate(-20deg)}
  78%{ -webkit-transform: rotate(178deg)}
  95%{ -webkit-transform: rotate(150deg)}

}


@-moz-keyframes cordfly {
   0% { -moz-transform: rotate(30deg) scale(1.2, 1.2)}
  25% { -moz-transform: rotate(15deg) scale(0.7, 0.8)}
  50% { -moz-transform: rotate(5deg) scale(1.2, 1.2)}
  75% { -moz-transform: rotate(-30deg) scale(0.9, 0.9)}

}


@-moz-keyframes kitefly {
   0% { -moz-transform: rotate(0deg)}
  22% { -moz-transform: rotate(-40deg)}
  25% { -moz-transform: rotate(-40deg)}
  30% { -moz-transform: rotate(60deg)}
  50% { -moz-transform: rotate(90deg)}
  55% { -moz-transform: rotate(0deg)}
  75% { -moz-transform: rotate(-20deg)}
  78%{ -moz-transform: rotate(178deg)}
  95%{ -moz-transform: rotate(150deg)}

}

@-o-keyframes cordfly {
   0% { -o-transform: rotate(30deg) scale(1.2, 1.2)}
  25% { -o-transform: rotate(15deg) scale(0.7, 0.8)}
  50% { -o-transform: rotate(5deg) scale(1.2, 1.2)}
  75% { -o-transform: rotate(-30deg) scale(0.9, 0.9)}

}


@-o-keyframes kitefly {
   0% { -o-transform: rotate(0deg)}
  22% { -o-transform: rotate(-40deg)}
  25% { -o-transform: rotate(-40deg)}
  30% { -o-transform: rotate(60deg)}
  50% { -o-transform: rotate(90deg)}
  55% { -o-transform: rotate(0deg)}
  75% { -o-transform: rotate(-20deg)}
  78%{ -o-transform: rotate(178deg)}
  95%{ -o-transform: rotate(150deg)}

}

@keyframes cordfly {
   0% { transform: rotate(30deg) scale(1.2, 1.2)}
  25% { transform: rotate(15deg) scale(0.7, 0.8)}
  50% { transform: rotate(5deg) scale(1.2, 1.2)}
  75% { transform: rotate(-30deg) scale(0.9, 0.9)}

}


@keyframes kitefly {
   0% { transform: rotate(0deg)}
  22% { transform: rotate(-40deg)}
  25% { transform: rotate(-40deg)}
  30% { transform: rotate(60deg)}
  50% { transform: rotate(90deg)}
  55% { transform: rotate(0deg)}
  75% { transform: rotate(-20deg)}
  78%{ transform: rotate(178deg)}
  95%{ transform: rotate(150deg)}

}

